.smaug {
	overflow: hidden;
	position: relative;
	z-index: 1000;

	a.nav {
		position: absolute;
		height: 100%;
		width: 30px;
		top: 0;
		z-index: 20;
	
		&.previous {
			left: 0;
		
			&:hover {
				background: url('../images/button-previous.png') no-repeat left center;
			}
		}

		&.next {
			right: 0;		
		
			&:hover {
				background: url('../images/button-next.png') no-repeat right center;
			}
		}
	}

	.smaug-slides {
		li.smaug-slide {
			position: relative;	
			text-align: center;
			background-color: #121212;
			float: left;
			overflow: hidden;

			&.loading {
				background: #121212 url('../images/ajax-loader.gif') no-repeat center center;
			}

			.more-info-container {
				display: none;	
			}

			img {
				position: relative;
				margin: 0 auto;
				z-index: 8;	
			}

			a {
				display: block;
				position: absolute;
				z-index: 9;
				width: 100%;
				color: #fff;
				text-decoration: none;
				font-family: georgia, serif;
			
				span {
					display: none;
					position: absolute;
				
					&.smaug-hover,
					&:hover {
						text-decoration: underline;
					}
				}

				&:hover {
					background: transparent url('../images/smaug-bg.png') repeat-y;

					span {
						background: transparent url('../images/slide-overlay.png') no-repeat center center;
					}
				}
			}

			h3 {
				text-align: center;
				font-family: georgia, serif;
				font-style: italic;
				color: #fff;
				background: transparent url('../images/smaug-bg.png') repeat-y;
				padding: 10px 0;
				margin: 0;
				width: 100%;
				position: absolute;
				bottom: 0;	
				z-index: 10;
			}
		}
	}

	ul.smaug-slide-controls {
		clear: both;
		background-color: #333333;	
		border-top: 1px solid #333333;
		border-bottom: 1px solid #333333;
		padding: 5px;
		text-align: right;

		li {
			display: inline;
			
			a {
				color: #fff;
				padding: 6px 5px 5px;
				text-decoration: none;
				
				&:hover {
					background-color: #666666;
				}
			}

			&.active {
				a {
					background-color: #222222;	
				}
			}
		}
	}
}

ul.smaug-secondary-controls {
	margin-top: 10px;	

	li {
		float: left;
		margin: 0 10px 10px 0;
		
		a {
			img {
				border: 1px solid #fff;	
			}

			&:hover {
				img {
					border: 1px solid #666666;	
				}
			}
		}
		
		&.active {
			a {
				img {
					border: 1px solid #222222;	
				}
			}
		}
	}
}